body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #666666;
    font-family: 'Press Start 2P', cursive;
}
#game {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #43313d;
}

h1,h2.subtitle {
    z-index: 1000;
    font-size: 14pt;
    position: fixed;
    width: 100%;
    text-align: center;
    color: white;
}
h1 {
    top: 0px;
}
h2.subtitle {
    top: 30px;
}
a {
    color: white;
}
h3 {
    font-size: 12pt;
}
.overlay {
    position: fixed;
    padding: 4px;
    color: #43313d;
    background-color: rgba(201,196,182,0.9); 
    z-index: 1000;
    min-width: 10px;
    padding: 10px;
    min-height: 100px;
    transition: width .2s;
}
.overlay:hover {
    width: 300px;
}
.overlay h3 { text-align: center; display: none; }
.overlay .icon { display: block; font-size: 24pt; }
.overlay:hover h3 { display: block; }
.overlay:hover .icon { display: none }
#quest {
    left: 0px;
    top: 200px;
    min-height: 50px;
}
#quest_display {
    display: none;
}
.overlay:hover #quest_display { 
    display:block;
}

#inventory {
    right: 0px;
    top: 200px;
    min-height: 50px;
}
#inventory_display{
    display: none;
}
.overlay:hover #inventory_display { 
    display:block;
}


.popup {
    line-height: 1.5em;
    font-size: 8pt;
    z-index: 10000;
    position: absolute;
    top: 50px;
    left: 10%;
    width: 80%;
    min-height: 50%;
    padding: 15px 15px 40px 15px;
    background-color: #ccc5b7; 
    display: none;
}
button {
    background-color: #43313d;
    border: 1px solid white;
    display: inline-block;
    color: white;
    cursor: pointer;
    text-align: center;
}

button.close {
    position: absolute;
    bottom: 8px;
    right: 8px;
    padding: 15px 15px;
    font-family: 'Press Start 2P', cursive;
    font-size: 14pt;
}
#new_quest {
    padding: 4px;
}

#quest_display .subquest {
    margin-left: 1em;
}
#quest_display .requirement {
    margin-left: 0.5em; 
}

#footer-note {
    position: fixed;
    z-index: 1000;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 8pt;
}

.popup .popup-bottom {
    position: absolute;
    bottom: 10px;
    right: 150px; 
}

.popup-bottom input {
    border: 1px solid #666;
    background-color: #ccc5b7; 
}